
.heading{

    text-align: center;
    color: cadetblue;

}

html,body
{
    background: black;
    height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.subheadings {
color:blue;
padding: 2rem;
text-align: center;
font-size: 25px;
}

.paragraph {
color:lightslategray;
text-align: center;
font-size: 20px;
}

.subparagraph {
color:white;
text-align: center;
font-size: 15px;
}

header {
  color: white;
  padding: 1rem;
}

p{
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

table{
   border-collapse: collapse;
    margin: 0 auto;
}

td,th{
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

tr{
  padding: 10px;
  text-align:center;
  vertical-align: middle;
}

main {
  flex: 1; /* Makes main content grow and push footer down */
  padding: 1rem;
}

footer {
  color: white;
  padding: 1rem;
  text-align: center;
}



