
.heading{

    text-align: center;
    color: cadetblue;

}

html,body
{
    background: black;
    height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  color: white;
  padding: 1rem;
}

main {
  flex: 1; /* Makes main content grow and push footer down */
  padding: 1rem;
}

footer {
  color: white;
  padding: 1rem;
  text-align: center;
}

